/* --- General Sets --- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ----------------------- */

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: darkblue;
    color: white;
    font-size: 20px;


    padding: 10px;
}

.menu-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 725px;

    background-color: darkblue;
    color: white;
    font-size: 20px;
}

.nav-list {
    list-style: none;

}

.nav-list .list-items {
    display: inline-block;
}

.nav-bar a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}

.nav-bar a:hover{
    text-decoration: underline;
    color: aqua;
}

.company-logo {
    height: 30px;

}

div {
    border: 1px solid black;
}


/* Menu hamburguer style */

.menu-hamburguer {
    display: none;
    margin-left: 10px;
}

.menu-line {
    width: 20px;
    height: 3px;
    background-color: white;
    margin-top: 4px;
}


@media all and (max-width:650px){
    .menu-div{
        flex-direction: column;
    }

    .nav-list .list-items{
        display: block;
        padding: 10px;        
    }

    .nav-list {
        width: 100%;
        text-align:center;
        display: none;   
    }

    .menu-hamburguer{
        display: block;
        position: absolute;
        top:15px;
        right: 10px;        
    }

    .menu-hamburguer:hover{
        cursor: pointer;
    }

    .logo {
        width:100%;
    }

    .active{
        display: block;
        
    }
}