@charset "UTF-8";

div{
    display: inline-block;
    background-color: lightgray;
    border: 1px solid black;
    text-align: center;
    font-weight: bolder;
    font-size: 25pt;    
    height: 200px;
    width: 200px; 
}

#d1:hover{
    background-color: brown;
}

#d2:hover{
    background-color:blue;
}

#d3:hover{
    background-color: purple;
}

div::first-letter{
    font-size: 50pt;
}

.especial::after{
    content: 'depois';
}

.especial::before{
    content: 'antes';
}